html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.background {
  background-image: url(/img/backgr.jpg);
  width: 4600px;
  height: 2500px;
  background-repeat: no-repeat;
  background-position: center center;
}

.bloc {
  width: 750px;
  height: 1100px;
  /* background-color: aqua; */
  margin: 100px 100px 100px 100px;
}

.top {
  display: flex;
  align-content: space-between;
}

.bot {
  display: flex;
  align-content: space-between;
}

.book {
  width: 90%;
  height: 90%;
  margin-top: 50px;
}

.glava,
.hide,
.glava-title {
  width: 170px;
  height: 170px;
  margin: 5px;
  float: left;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  color: rgb(22, 10, 53);
}

.hide {
  background-color: white;
}

.glava-title {
  border-radius: 70px;
  font-weight: bold;
}

.g12 div {
  background-color: #c98862;
}
.g34 div {
  background-color: #d97cf5;
}

.g56 div {
  background-color: #fda052;
}

.g78 div {
  background-color: #ec9ac0;
}

.g910 div {
  background-color: #97d17a;
}

.g1112 div {
  background-color: #bab721;
}

.g1314 div {
  background-color: #bb5679;
}

.g1516 div {
  background-color: #3eaa94;
}

.g1718 div {
  background-color: #60eb8c;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.str {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
}
