html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.background {
  background-image: url(../img/backgr.jpg);
  width: 4600px;
  height: 2600px;
  background-repeat: no-repeat;
  background-position: center center;
}

.bloc {
  width: 750px;
  height: 1100px;

  margin: 100px 100px 100px 100px;
}

.top {
  display: flex;
  align-content: space-between;
}

.bot {
  display: flex;
  align-content: space-between;
}

.book {
  width: 90%;
  height: 90%;
  margin-top: 50px;
}

.glava,
.hide,
.glava-title {
  width: 170px;
  height: 170px;
  margin: 5px;
  float: left;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

.hide {
  background-color: rgba(255, 255, 255, 0);
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}

.glava-title {
  border-radius: 70px;
  font-weight: bold;
}

.g12 div,
.g1g2 {
  background-color: #c98862;
  opacity: 95%;
}
.g34 div,
.g3g4 {
  background-color: #d97cf5;
  opacity: 95%;
}

.g56 div,
.g5g6 {
  background-color: #a77db3;
  opacity: 95%;
}

.g78 div,
.g7g8 {
  background-color: #ec9ac0;
  opacity: 95%;
}

.g910 div,
.g9g10 {
  background-color: #fda052;
  opacity: 95%;
}

.g1112 div,
.g11g12 {
  background-color: #bab721;
  opacity: 95%;
}

.g1314 div,
.g13g14 {
  background-color: #bb5679;
  opacity: 95%;
}

.g1516 div,
.g15g16 {
  background-color: #3eaa94;
  opacity: 95%;
}

.g1718 div,
.g17g18 {
  background-color: #60eb8c;
  opacity: 95%;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.str {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
}

.glava,
.glava-title,
span {
  box-shadow: 6px 6px 20px rgba(11, 11, 11);
}
